
<div class='centered-page-wrapper'>
  <div>
    <h1>Dashboard</h1>
    <mat-grid-list cols="2" rowHeight="16:9" gutterSize="60px;">
      <mat-grid-tile class="mat-elevation-z10">
          <app-incubator></app-incubator>
      </mat-grid-tile>
      <mat-grid-tile class="mat-elevation-z10">
          <app-pets></app-pets>
      </mat-grid-tile>
      <mat-grid-tile class="mat-elevation-z10">
          <app-market></app-market>
      </mat-grid-tile>
      <mat-grid-tile class="mat-elevation-z10">
          <app-templates></app-templates>
      </mat-grid-tile>
  </mat-grid-list>
  </div>
</div>
