<mat-grid-tile-header class="dashboard-header">Incubator</mat-grid-tile-header>
<div class='dashboard-body'>
    <h1 *ngIf='!eggs.length && loaded' style="text-align: center;">You have no eggs :(</h1>
    <div class='incubator-preview'>
        <div *ngFor='let egg of eggs' class='egg-preview'>
            <app-egg [egg]='egg'></app-egg>
        </div>
    </div>
    <div class='hatching-preview' *ngIf='eggs.length && loaded'>
        <h1>Hatching Status:</h1>
        <h2 *ngIf='!hatchableEggs'>No Eggs are ready to hatch at this time.</h2>
        <h2 *ngFor='let egg of hatchableEggs'>Egg {{egg.id}} is ready to hatch!</h2>
    </div>
</div>
