.dashboard-header {
    height: 10%;
}
.dashboard-body {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0px;
    border: 0px;
    padding: 0px;
    padding-bottom: 2px;
    height:90%;
    width: 100%;
}
.incubator-preview {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    border: 0;
    padding: 0;
    width: 50.625%;
    height: 100%;
}
.egg-preview {
    float: left;
    position: relative;
    margin: 1.3%;
    margin-left: 1.3%;
    margin-right: 0;
    border: 0;
    padding: 0;
    width: 30%;
    height: 30%;
}
.hatching-preview {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    margin-left: 0;
    border: 0;
    padding-right: 2%;
    padding-top: 1%;
    width: 45.375%;
    height: 98%;
}