.card-style {
    
    max-width: 400px;
    margin-bottom: 5px;
  }
.button-style{
    float: right;
    position: relative;
    right:    .5em;
    bottom:   3em;
}

.centered-page-wrapper {
    max-width:1300px;
}
    
.fleft {

    float:left; 
    width: 40%;
    height: 400px;
}
    
.fright {

    float: right;
    height: 400px;
    width: 60%;
}
    
.mat-list-style{
    color:white;
}