<mat-grid-tile-header class="dashboard-header">Create New Template</mat-grid-tile-header>
<div class='dashboard-body'>
    <div>
        <mat-card class="card-style">
            <mat-card-header>
                <button mat-raised-button color="primary" class="btn-block">Click here to create a new egg template!</button>
                <mat-card-content>Don't like any of the available eggs? Use our form to create new custom egg templates! Created templates will be added to the market and will become available for incubation.</mat-card-content>
            </mat-card-header>
        </mat-card>
    </div>
</div>
