<div class="login-wrapper" fxLayout="column" fxLayoutAlign="center center">
  <mat-card class="box" style="padding: 40px 70px 50px;">
    <mat-card-header>
      <mat-card-title>Contributors:</mat-card-title>
    </mat-card-header>
      <div class="contributor">
        <mat-card>
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Brandon</mat-card-title>
            <mat-card-subtitle style="font-weight: 200;">Scrum Master</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://scontent-hou1-1.xx.fbcdn.net/v/t1.18169-9/15965792_10208034418114238_8179148090591115821_n.jpg?_nc_cat=106&ccb=1-3&_nc_sid=174925&_nc_ohc=_rHafnGwsokAX_HaRJp&_nc_ht=scontent-hou1-1.xx&oh=852d0d84f945720af2eca1e0a1d82592&oe=60A6B7F4" alt="Photo of a Brandon">
          <mat-card-content>
            <p>
              Brandon is a self-motivated, innovative technology professional with a keen sense of adaptability.
              He has a track record of forming strong relationships with colleagues and clientele alike
              whilst exceeding all standards of performance. With a thorough background in customer
              experience, communication, and technology from Texas State University, 
              he is very adept at conveying ideas, problem-solving, and coaching individuals through any
              given scenario.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="contributor">
        <mat-card>
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Nate</mat-card-title>
            <mat-card-subtitle style="font-weight: 200;">DevOps Lead</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://i.imgur.com/zsYt9Yl.jpg" alt="Photo of Nate">
          <mat-card-content>
            <p>
              Nate is a full-stack Java software developer with recent experience building multi-tiered web
              applications. He recently acquired a Master's in applied mathematics from DePaul University.
              His classwork focused on statistics and actuarial mathematics, and he only recently changed career
              paths to focus on software engineering, bringing with him some rather eclectic skills from his Game
              Design classes in College.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="contributor">
        <mat-card>
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Anakin</mat-card-title>
            <mat-card-subtitle style="font-weight: 200;">Full-Stack Engineer</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Photo of Anakin">
          <mat-card-content>
            <p>
              Anakin is a Java software engineer with experience in developing both the frontend and backend
              of a web application. He went to school at the University of Central Florida where he completed
              his Bachelor of Science degree in Information Technology. He got interested in programming from
              some of his college courses and found it fascinating to be able to develop applications, rather
              it is the user interface of the application or the business logic behind a button when you
              press it and interact with the backend.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="contributor">
        <mat-card>
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Tristan</mat-card-title>
            <mat-card-subtitle style="font-weight: 200;">Full-Stack Engineer</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://media-exp1.licdn.com/dms/image/C5603AQHQ0kf5NlGb1A/profile-displayphoto-shrink_800_800/0/1585605663638?e=1624492800&v=beta&t=shij6pMiX1YqYf9_f4Argj86n2ezbruFFP_D62idYTA
          " alt="Photo of Tristan">
          <mat-card-content>
            <p>
              Tristan is a Java enterprise software engineer with recent experience building full-stack web
              applications. He earned his Bachelor's degree in Computer Science and Mathematics from George
              Fox University. Thanks to his recent experience with Revature, he's familiar with everything
              from frontend to backend to DevOps practices. His current goal is to use his skills to gain
              experience in the technology sector and, over the next few years, to achieve mastery in
              Object-Oriented Programming practices.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
  </mat-card>
</div>
