body {
  background-image: url("https://images.pexels.com/photos/6898856/pexels-photo-6898856.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-repeat: no-repeat;
  background-size: cover;
}

.title-center {
  flex: 1 1 auto;
  text-align: center;
}
